* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #181818 0%, #000 100%);
  color: white;
}

.hero {
  padding: 40px 60px;
}

.hero-inner {
   display: flex;
  flex-direction: column;   
  align-items: center;      
  text-align: center;
  gap: 60px;
}

.stack {
  position: relative;
  width: 400px;
  height: 260px;
}

.cards {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #111;
  border: 1px solid #222;
  box-shadow: 0 30px 60px rgba(0,0,0,0.7);
}


.back {
  top: -20px;
  left: 20px;
  opacity: 0.4;
}

.middle {
  top: -10px;
  left: 10px;
  opacity: 0.7;
}


.front {
  padding: 20px;
  z-index: 3;
}


.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.profile h3 {
  font-size: 18px;
}

.profile p {
  font-size: 14px;
  color: #888;
  margin-top: 4px;
}

.front button {
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

.right-box {
  width: 420px;
}

.email-box {
  background: #111;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #222;
  box-shadow: 0 40px 80px rgba(0,0,0,0.7);
}

.email-box span {
  display: inline-block;
  background: #1a1a1a;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 13px;
  margin-right: 210px;
  margin-bottom: 15px;
  color: #0657ed;
}

.email-box p {
  font-size: 14px;
  color: #bbb;
  line-height: 1.6;
  margin-bottom: 15px;
}

.email-box button {
  /* margin-top: 10px; */
  padding: 8px 18px;
  border-radius: 5px;
  border: 1px solid #333;
  background: #222;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 253px;
}